<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- Latest compiled and minified CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Latest compiled JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-3 bg-success">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur ducimus, veniam a porro labore consectetur rem minus molestiae totam. Dolor nam asperiores assumenda obcaecati repudiandae officia accusantium placeat sed eligendi!
            Sequi provident nisi obcaecati libero recusandae eius magnam nam quod explicabo odio laboriosam quos, maxime non possimus eum modi corrupti ut? Ipsam tempore hic aut! Vitae corrupti debitis illum possimus.
            Est corporis consequuntur esse similique. Corrupti minima ea obcaecati, accusantium inventore enim quo at cumque sequi doloremque, odit maiores dignissimos modi soluta quidem accusamus expedita, quod quas quaerat aliquam praesentium!</div>
            <div class="col-9 bg-danger">
                <div class="container bg-warning"><h1>DASHBOARD</h1></div>
            </div>
        </div>
        
    </div>
</body>
</html>