<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OUTSTOCK</title>
  <link rel="icon" type="image/x-icon" href="https://res.cloudinary.com/dzvvpbnai/image/upload/v1704860410/Screenshot_2024-01-10_094916_ny2sxf.jpg">


</head>
<body>
    
{{error}}

</body>
</html>