@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Extra+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --font1: 'Heebo', sans-serif;
    --font2: 'Fira Sans Extra Condensed', sans-serif;
    --font3: 'Roboto', sans-serif;

    --btnbg: #ffcc00;
    --btnfontcolor: rgb(61, 61, 61);
    --btnfontcolorhover: rgb(255, 255, 255);
    --btnbghover: #ffc116;
    --btnactivefs: rgb(241, 195, 46);


    --label-index: #960796;
    --danger-index: #34a530;
    /* PAGINATE */
    --link-color: #000;
    --link-color-hover: #fff;
    --bg-content-color: #41464b;

}

body {
    font-family: var(--font3);
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}

a {
    text-decoration: none;
    color: #1a1a1a;
}


.bg-brand-btn {
    background: var(--label-index);
}



.btn-buynow {
    color: #000;   
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1rem;
}





@media (min-width: 576px) {
    .btn-buynow {
        font-size: 1rem; 
    }
}


h2 {
    font-weight: 900;
}

.badge--slim {
    font-weight: 400;
}

.disclaimer {
    font-size: .8rem;

}

.cont-box {
    max-width: 1200px;
}



Centered text
.label-top {
    position: absolute;
    background-color: black;
    color: #fff;
    top: 8px;
    right: 8px;
    padding: 5px 10px 5px 10px;
    font-size: .7rem;
    font-weight: 600;
    border-radius: 3px;
    text-transform: uppercase;
}





.over-bg {
    background: rgba(53, 53, 53, 0.85);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(0.0px);
    -webkit-backdrop-filter: blur(0.0px);
    border-radius: 10px;
}

.bold-btn {

    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;
    padding: 5px 50px 5px 50px;
}

.box .btn {
    font-size: 1.5rem;
}

@media (max-width: 1025px) {
    .box .btn {
        padding: 5px 40px 5px 40px;
    }
}

@media (max-width: 250px) {
    .box .btn {
        padding: 5px 30px 5px 30px;
    }
}

/* START BUTTON */
.btn-warning {
    background: var(--btnbg);
    color: var(--btnfontcolor);
    fill: #ffffff;
    border: none;
    text-decoration: none;
    outline: 0;
    /* box-shadow: -1px 6px 19px rgba(247, 129, 10, 0.25); */
    /* border-radius: 100px; */
}

.btn-warning--main {
    background: transparent;
    padding: 5px 25px 5px 25px;
    border: solid 2px var(--btnbg);
    border-radius: 20px;
    width: 100%;
}

@media (min-width: 576px) {
    .btn-warning--main {
        width: 300px;
    }
}

.btn-warning:hover {
    background: var(--btnbghover);
    color: var(--btnfontcolorhover);
    /* box-shadow: -1px 6px 13px rgba(255, 150, 43, 0.35); */
}

.btn-check:focus+.btn-warning,
.btn-warning:focus {
    background: var(--btnbghover);
    color: var(--btnfontcolorhover);
    /* box-shadow: -1px 6px 13px rgba(255, 150, 43, 0.35); */
}

.btn-warning:active:focus {
    box-shadow: 0 0 0 0.25rem var(--btnactivefs);
}

.btn-warning:active {
    background: var(--btnbghover);
    color: var(--btnfontcolorhover);
    /* box-shadow: -1px 6px 13px rgba(255, 150, 43, 0.35); */
}

/* END BUTTON */

.bg-success {
    font-size: 1rem;
    background-color: var(--btnbg) !important;
    color: var(--btnfontcolor) !important;
}

.bg-danger {
    font-size: 1rem;
}


.price-hp {
    font-size: 1rem;
    font-weight: 600;
    color: darkgray;
}





.card {
    background: #fff;
     box-shadow: none;
    transition: none;
    border: 0;
    border-radius: 0;
    
 
}


.card h3 {
    overflow: hidden;
    height: 56px;
    font-weight: 300;
    font-size: 1rem;
}

.card h3 a {
  color:  #1a1a1a;
   
}

.card h3 a:hover {
    color:  #616161;
    
}

.card-img-top {
    width: 100%;
    min-height: 250px;
    max-height: 250px;
    object-fit: contain;

}

.card h2 {
    font-size: 1rem;
}

.card-body {
  /* background: #ffc107; */
  background: #e9ecef;
}


.aff-link {
    /* text-decoration: overline; */
    font-weight: 500;
    color: #000!important;
}

#options{
    position: sticky; 
    top:70px;
    height: 800px
}
@media only screen and (max-width: 576px) {
    #options{
        position: unset;
    }
}
@media (max-width: 349px) {
    .custom-col {
        flex: 0 0 100%; /* Set the column width to 100% below 350px */
        max-width: 100%;
    }
}